 
  body{
    padding: 0px;
    background-color: #C3ACD0;
}
.blog-container{ 
   
    margin:  60px;  
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px;
    background-color:#FFFBF5;
}
.nav-blog{
    border: none;
    height: 30px; 
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-evenly;
}
.nav-btn-main{
    color: #7743DB;
    background: none;
    font-size: medium;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    padding-bottom: 20px;
}
.active-tab {
    border-bottom: 4px solid #7743db;
  }
.blog-section{
    background-color:  #7743DB ;
    display: flex;
    flex-direction: column; 
    color: #ebf0f3;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px 10px 5px;
}
.nav-main{
    margin: 20px 90px;
    padding: 20px 50px;
    background-color:#f0ede9; 
    border-radius: 10px;
}
.nav-btn-main:hover{
    border-bottom: 4px solid  #7743DB;
}
.title-blog{
    padding: 20px 0px;
}
.flex-item{ 
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}   
  
.blog-list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #7743DB;
    font-size: large;
    padding: 20px 0px 20px;
} 
.list-content{
    padding-top: 12px;
}
.list-icon{
    width: 40px;
    height: 60px;
    padding-right: 20px;
    color: #7a28b1;
}
.list{
    list-style: none;
    padding-left: 10px;
}

@media (max-width: 992px){  
.nav-main{
    margin: 10px 50px;
    padding: 20px 50px;
    background-color:#f0ede9; 
    border-radius: 10px;
}   
}

 @media (max-width: 790px){  
    .nav-main{
        margin: 10px 30px;
        padding: 20px 50px;
        background-color:#f0ede9; 
        border-radius: 10px;
    }  
    .blog-head{
         font-weight: 400;
    }
    .author{
        padding: 5px 10px 8px; 
        font-size: medium; 
    } 
}
 
@media (max-width: 576px){  
    .nav-main{
        margin: 10px 10px;
        padding: 20px 30px;
        background-color:#f0ede9; 
        border-radius: 10px;
    }  
    .blog-head{
         font-weight: 400;
    }
    .author{
        padding: 5px 10px 8px; 
        font-size: small; 
    } 
    .blog-list{
        font-size: medium; 
        padding: 5px 0px 5px;
    }
    body{
        padding: 0px;
        background-color: #C3ACD0;
    }
    .blog-container{  
        margin:  10px;  
        padding: 10px;
        border: 2px solid white;
        border-radius: 20px;
        background-color:#FFFBF5;
    }
    .nav-blog{
        border: none;
        height: 30px; 
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: space-evenly;
    }
    .nav-btn-main{
        color: #7743DB;
        background: none;
        font-size: medium;
        font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border: none;
        padding-bottom: 20px;
    }
    .active-tab {
        border-bottom: 4px solid #7743db;
      }
    .blog-section{
        background-color:  #7743DB ;
        display: flex;
        flex-direction: column; 
        color: #ebf0f3;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 5px 10px 5px;
    } 
    .nav-btn-main:hover{
        border-bottom: 4px solid  #7743DB;
    }
    .title-blog{
        padding: 20px 0px;
    }
    .flex-item{ 
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
    }   
    .list-content{
        padding-top: 12px;
    }
    .list-icon{
        width: 40px;
        height: 60px;
        padding-right: 20px;
        color: #7a28b1;
    }
    .list{
        list-style: none;
        padding-left: 10px;
    }
} 

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
 
